<template name="questionEdit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="question">Question</label>
      <div class="controls">
          <input name="question" id="question" type="text" value="{{question}}" placeholder="Edit your question" class="form-control"/>
      </div>
    </div>
    {{#each answers }}
    <div class="form-group" id="{{_id}}">
      <label class="control-label" for="answer{{_id}}">Answer {{_id}}</label>
      <div class="controls">
          <input name="answer" id="answer{{_id}}" type="text" value="{{text}}" placeholder="Edit your answer" class="form-control"/>
      </div>
      <label class="control-label" for="correct{{_id}}">Correct answer?
        <input name="answer" id="correct{{_id}}" type="checkbox" class="control-label answer" checked="{{isCorrect}}"/>
      </label>
    </div>
    {{/each}}
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete question</a>
  </form>
</template>
