<template name="questionItem">
  <div class="question">
    <div class="question-content panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{text}}
            </a>
            <div class="btn-group pull-right">
              <button class="btn btn-default btn-small">These cards suck!</button>
            </div>
            <div class="clearfix"></div>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            {{#each answers}}
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="{{this.index}}" value="{{this.index}}">
                  {{this.text}}
                </label>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="panel-footer">
        <p>submitted by {{author}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
